@charset "UTF-8";

/*
Typical Device Breakpoints
Pequenas telas: Até 600px
Celular: 600px a 768px
Tablets: 768px a 992px
Desktops: 992px a 1200px 
Grandes telas: Acima de 1200px
*/

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#lopgin > div#formulario {
        float: right;
        width: 70%;
    }
}

/* Desktops */
@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 950px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}
